#faq-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 3vh;
}

#faq-title {
    font-size: 8vh;
    font-weight: bold;
    margin-bottom: 3vh;
    color: red;
}

#faq-description {
    font-size: 2vh;
}

hr {
    height: 0.2vh;
    background-color: black;
}

.questions {
    font-size: 3vh;
    margin-bottom: 2vh;
    color: red;

}

.answers {
    font-size: 2vh;
    margin-bottom: 2vh;
}